.todo-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  font-size: 18px;
  color: $ColorBlack;
  background: $ColorWhite;
  border-radius: 12px;

  &__buttons {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: auto;
      font-size: 18px;
      line-height: 0;
    }
  }

  + .todo-element {
    margin: 20px 0 0;
  }

  &__cross.button {
    background: $ColorRed;
  }

  &__title {
    cursor: pointer;
  }
}
