.input {
  outline: none;
  color: $ColorBlack;
  font-size: 18px;
  padding: 4px 10px;
  background: rgba($ColorDecoration, 0.1);
  border: 2px solid rgba($ColorDecoration, 0.5);
  border-radius: 5px;
}

.focus .input {
  background: rgba($ColorDecoration, 0.3);
  border: 2px solid rgba($ColorDecoration, 1);
}
