body,
input,
button,
textarea,
a {
  font-family: $fontFirst;
  color: $ColorText;
  background: transparent;
  font-size: $SizeMain;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

//Контейнеры
body,
#root,
.app {
  width: 100%;
  min-height: 100%;
  background: #1e1e1e;
}

.app {
  overflow: hidden;
}

.container {
  max-width: $maxWidth + $widthPadding * 2;
  margin: 0 auto;
  padding: 0px $widthPadding;
}
