body,
input,
button,
textarea,
a {
  font-family: $fontFirst;
  color: $ColorMainText;
  background: transparent;
  font-size: $SizeMain;
  text-decoration: none;
}

//Контейнеры
body,
#root,
.app {
  width: 100%;
  min-height: 100%;
  background: $ColorBackground;
}

.app {
  overflow: hidden;
}

.container {
  max-width: $maxWidth + $widthPadding * 2;
  margin: 0 auto;
  padding: 0px $widthPadding;
}
