//WIDTH CONTAINER
$maxWidth: 1596;
$widthPadding: 15px;

//FONT NAME
$fontFirst: sans-serif;

//FONT SIZE
$SizeMain: 24px;

//COLOR
$ColorMainElement: #1a472a;
$ColorBackground: #2a623d;
$ColorDecoration: #5d5d5d;
$ColorMainText: #aaaaaa;
$ColorSecondText: #ffffff;
