//WIDTH CONTAINER
$maxWidth: 1596;
$widthPadding: 15px;

//FONT NAME
$fontFirst: sans-serif;

//FONT SIZE
$SizeMain: 24px;

//COLOR
$ColorMainElement: #f1c4f2;
$ColorMainBackground: #1e1e1e;
$ColorDecoration: #1b15bf;
$ColorSecondDecoration: #1712a6;
$ColorText: #f2f2f2;
$ColorSecondBackground: #221bf2;
$ColorWhite: #ffffff;
$ColorBlack: #000000;
